html {
	margin: 0;
	padding: 0;
}

body {
	font-family: "DejaVu Sans Mono", "monospace";
	background-image: url("what-the-hex.png");
}

#header {
	margin-top: 50px;
	text-align: center;	
	font-size: 24pt;
	animation-name: fade-in;
	animation-duration: 2s;
}
#header img {
	margin: 20px auto;
	display: block;
	width: 50%;
}
#error {
	color: red;
}

#interactive {
	opacity: 0;
	display: block;
	margin: 100px auto;
	width: 90%;
	text-align: center;
	animation: fade-in;
	animation-delay: 2s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
#interactive button {
	margin-top: 10px;
}

/*.qrcode-text-btn {
	display: inline-block;
	height: 1em;
	width: 1em;
	background: url('qr_icon.svg') 50% 50% no-repeat;
	cursor: pointer;
}
.qrcode-text-btn > input[type=file] {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.qrcode-text {
	padding-right: 2em;
	margin-right: 0;
	vertical-align: middle;
}
.qrcode-text + .qrcode-text-btn {
	width: 2em;
	margin-left: -3em;
	vertical-align: middle;
}*/

@media (min-width: 1025px) {
	/* Desktops */
	#header img {
		width: 300px;
	}
}

@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}
