<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/main.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="static/lib.js"></script>
		<script src="static/jsQR.js"></script>
		<script type="text/javascript">
			var reader = new FileReader();
			var image = new Image();
			var data;

			var buyBtn, joinBtn, balanceSpan, tokenelement, gohomebtn;
			var token;

			document.addEventListener("DOMContentLoaded", function() {
				textbox = document.getElementById("text-field");
				contentbox = document.getElementById("interactive");
			});

			function pay() {
				ajax("/pay", "token="+document.getElementById("token").value);
			}

			function becomeEmployee() {
				ajax("/becomeEmployee", "token="+document.getElementById("token").value);
			}

			function auth() {
				ajax("/auth", "privkey="+document.getElementById("text-field").value); 
			}

			function reauth() {
				ajax("/reauth", "token="+document.getElementById("token").value);
			}
		</script>
	</head>
	<body>
		<div id="header">
			<span>A Lemonade Stand Owned by No One</span>
			<img src="static/banner.png" />
		</div>
		<div id="interactive">
			No Ethereum wallet detected.
			<br>
			<input type="text" id="text-field" placeholder="private key" class="qrcode-text">
			<br>
			<button onclick="auth()" id="connect-wallet-btn">Connect Wallet</button>
		</div>
	</body>
</html>
