<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/main.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="static/lib.js"></script>
		<script src="static/jsQR.js"></script>
		<script type="text/javascript">
			var reader = new FileReader();
			var image = new Image();
			var data;

			var buyBtn, joinBtn, balanceSpan, tokenelement, gohomebtn;
			var token;

			document.addEventListener("DOMContentLoaded", function() {
				textbox = document.getElementById("text-field");

				var file_selector = document.getElementById("file-upload");
				reader.addEventListener("loadend", function() {
					image.src = reader.result;
					var canvas = document.createElement("canvas");
					canvas.width = image.width;
					canvas.height = image.height;
					var ctx = canvas.getContext("2d");
					ctx.drawImage(image, 0, 0);
					data = ctx.getImageData(0, 0, image.width, image.height);
					code = jsQR(data.data, image.width, image.height);
					document.getElementById("text-field").value = code.data;
				});

				file_selector.addEventListener("change", function() {
					reader.readAsDataURL(this.files[0]);
				});

				contentbox = document.getElementById("interactive");
				document.getElementById("connect-wallet-btn").addEventListener("click", function() {
					ajax("/auth", "privkey="+textbox.value); 
				});

			});

			function updateControlPanel() {
				try {
					buyBtn = document.getElementById("buy-btn");	
					joinBtn = document.getElementById("join-btn");
					balanceSpan = document.getElementById("balance");	
					tokenelement = document.getElementById("token");
					gohomebtn = document.getElementById("go-home");
					token = tokenelement.value;
					console.log("token: " + token);
					buyBtn.addEventListener("click", function() {
						pay();
						/*var bal = parseFloat(balanceSpan.innerHTML);
						if (bal >= 0.015) {
							bal -= 0.015;
							balanceSpan.innerHTML = bal;
						}*/
					});
					joinBtn.addEventListener("click", function() {
						if (joinBtn.innerHTML == "Become Employee") {
							joinBtn.innerHTML = "Quit";
						}
						else {
							joinBtn.innerHTML = "Become Employee";
						}
					});
					gohomebtn.addEventListener("click", function() {
						ajax("/");
					});
				}
				catch (e) {
					console.log("failed: " + e);
				}
			}

			function pay() {
				ajax("/pay", "token="+token);
			}
		</script>
	</head>
	<body>
		<div id="header">
			<span>A Lemonade Stand Owned by No One</span>
			<img src="static/banner.png" />
		</div>
		<div id="interactive">
			No Ethereum wallet detected.
			<br>
			<input type="text" id="text-field" placeholder="private key" class="qrcode-text">
			<label class="qrcode-text-btn">
				<input type=file id="file-upload" accept="image/*" capture=environment tabindex=-1>
			</label>
			<br>
			<button id="connect-wallet-btn">Connect Wallet</button>
		</div>
	</body>
</html>
